<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>MyC2i Account Confirmation</TITLE>

</HEAD>

<BODY>




<table cellspacing="0" cellpadding="40" border="0" width="98%">
	<tbody>
		<tr>
			<td bgcolor="#f7f7f7" width="100%"
				style="font-family: tahoma, verdana, arial, sans-serif;">
			<table cellspacing="0" cellpadding="0" border="0" width="620">
				<tbody>
					<tr>
						<td
							style="padding: 4px 8px; background: rgb(59, 89, 152) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; color: rgb(255, 255, 255); font-weight: bold; font-family: tahoma, verdana, arial, sans-serif; vertical-align: middle; font-size: 16px; letter-spacing: -0.03em; text-align: left;">MyC2i</td>
					</tr>
					<tr>
						<td valign="top"
							style="border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(59, 89, 152); padding: 15px; background-color: rgb(255, 255, 255); font-family: tahoma, verdana, arial, sans-serif;">
						<table width="100%">
							<tbody>
								<tr>
									<td align="left" width="470px" valign="top"
										style="font-size: 12px;">
									<div style="margin-bottom: 15px; font-size: 13px;">Hi $name ,</div>
									<div style="margin-bottom: 15px;">
									
								    Thank you for registering <span id="lw_1270461681_0" class="yshortcuts">MyC2i</span>.
									</div>
									
									<div style="margin-bottom: 15px;">
									Your login Id: shamim71@gmail.com and initial password: $pass 
									</div>
									<div
										style="border-bottom: 1px solid rgb(204, 204, 204); line-height: 5px;">&nbsp;</div>
									<br>
									</div>
									<div style="margin: 0pt;">Thanks,<br>
									The MyC2i Team</div>
									</td>
									<td align="left" width="150" valign="top"
										style="padding-left: 15px;">

									</td>

									<td align="left"  valign="top"
										style="font-size: 12px;">
						<table cellspacing="0" cellpadding="0" width="100%">
							<tbody>
								<tr>
									<td
										style="border: 1px solid rgb(255, 226, 34); padding: 10px; background-color: rgb(255, 248, 204); color: rgb(51, 51, 51); font-size: 11px;">

									To
									confirm your account, please visit the following link:
									<a style="color: rgb(59, 89, 152); text-decoration: none;"
										href="http://www.myc2i.com/myc2i/"
										target="_blank" rel="nofollow"><span id="lw_1270461681_3"
										class="yshortcuts">http://www.myc2i.com/myc2i/</span></a></td>
								</tr>
							</tbody>
						</table>
									</td>

								</tr>
							</tbody>
						</table>

						</td>
						
					</tr>

				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>


</BODY>
</HTML>
