.form_input_text_small
{
	width: 150px;
	border: 1px solid #C3D2DF;
	margin: 1px 0px 1px 0px;
}
.form_input_text_medium
{
	width: 200px;
	border: 1px solid #C3D2DF;
	margin: 1px 0px 1px 0px;
}
.form_input_text_large
{
	width: 380px;
	border: 1px solid #C3D2DF;
	margin: 1px 0px 1px 0px;
}
.form_input_select_medium
{
	width: 201px;
	border: 1px solid #C3D2DF;
	margin: 1px 0px 1px 0px;
}
.form_input_select_large
{
	width: 355px;
	border: 1px solid #C3D2DF;
	margin: 1px 0px 1px 0px;
}
.form_input_text_medium_large
{
	width: 300px;
	border: 1px solid #C3D2DF;
	margin: 1px 0px 1px 0px;
}
.form_input_text_large
{
	width: 350px;
	border: 1px solid #C3D2DF;
	margin: 1px 0px 1px 0px;
}
	
	
	.error_message{
		color: red;
	}
	.center_align_col{
		text-align: center;
	}
	.top_panel_psep  { 
		color: #666666; 
		padding: 0px 5px 0px 5px; 
		font-size: x-small;
		font-weight: bolder	
	}
	.top_nav_col{
		width: 318px;
		text-align: right;
	}
	.column_class_center{
		text-align: center;
	}
	.column_class_left{
		text-align: left;
	}
	.column_class_right{
		text-align: right;
	}	
	.col_40{
		width: 40%;
	}
	.col_60{
		width: 60%;
	}	
	.content_div{
		border-left: 1px solid #F4EDBF;
		border-right: 1px solid #F4EDBF;
	}
	.panel_content_body{
	/*#FFFBEF #FFFEEF*/
		background-color: #F5F5F5;
	}
	
	.panel_header{
	    background: #FFFCEF url(../images/new.jpg) 0 0 repeat-x;	
	    height: 32px;
	    text-align: center;
	    font-size: 1.1em;
	    vertical-align:bottom;

	    border: none;
	    color: white;
		}
	.content_panel{
			border-left: 1px solid #F4EDBF;
			border-right: 1px solid #F4EDBF;
			border-top: none;
			
		}
	.internal_content_grid_column1{
		text-align: right;	
		padding-right: 10px;
		}
	.internal_content_grid_column2{
		text-align: left;
		}
	
	.required_field
	{
		color: Red;
		margin-left: 5px;
	}		
	.orange_link{
	 	color:#ffffff;
	}
	#idPublicNav a:hover{
		color: red;
	}
	.error_panel_left_col{
		width: 50px;
		text-align: right;
	}
	.error_panel_right_col{
		width: 120px;
		color: red;
		font-weight: bold;
		vertical-align: top;
		padding-left: 10px;
	}
	.login_page_column1{
		width: 22%;
		border:0;
		margin:0;
		vertical-align: top;
	}
	.login_page_column2{
		width: 56%;
		text-align: center;
		vertical-align: top;
	}
	.login_page_column3{
		width: 22%;
		padding: 0;
		vertical-align: top;
	}
	.dashboard_page_column1{
		width: 20%;
		vertical-align: top;

	}
	.dashboard_page_column2{
		width:80%;
		vertical-align: top;
	}
	.dashboard_page_column3{
		width: 10%;
	}	
	.dashboard_conent_grid_column1{
		width: 70%;
		vertical-align: top;

	}
	.dashboard_conent_grid_column2{
		width:30%;
		vertical-align: top;
	}

	.reg_page_column1{
		width: 10%;

	}
	.reg_page_column2{
		width:80%;
	}
	.reg_page_column3{
		width: 10%;
	}
		
	.login_box_panel_header{
	 	background-image : url();
	    border:none;
        height:18px;
        text-align:center;
        vertical-align:middle;
        color: white;
		background-color:#3E548F;
		font-weight:bold;
		font-size: 9pt;

	}
		.login_box_panel_header2{
	 	background-image : url();
	    border:none;
        height:22px;
        text-align:center;
        vertical-align:middle;
        color: white;
		background-color:#3E548F;
		font-weight:bold;
		font-size: 8pt;

	}
	.container_box_panel_header{
	 	background-image : url();
	    border:0;
        height:15px;
        text-align:center;
        vertical-align:middle;
        color:white;
        padding:5px 0;
		background-color:#3E548F;
		font-weight:bold;
		font-size: 9pt;
	}
	.container_silver_header{
	 	background-image : url();
	    border:0;
        height:19px;
        text-align:center;
        vertical-align:middle;
        color:white;
 		padding:0px 0;
		background-color:#56acdd;
		font-weight:bold;
	}
	.container_gold_header{
	 	background-image : url();
	    border:0;
        height:18px;
        text-align:center;
        vertical-align:middle;
        color: white;
 		padding:0px 0;
		background-color:#3E548F;
		font-weight:bold;
	}	
	.container_link_style{
		font-weight: bold; 
		padding-top: 5px; 
		padding-bottom: 5px;
	}
	.login_box_panel{
		margin-bottom:0px;
		border:0px solid #7F6500;
		background-color:#EFEFEF;
	    /*
	    1. #EDEFE0
	    2. #EFECE0
	    3. #FFFBF0
	    4. #FFFBF0
	    5. #EFEFEF
	    */
    color: black;	
	}
	.container_body_style{
	margin-bottom:0px;
	border:1px solid #CFCAB5;
	background-color:#F4E8FF;
	padding: 0;
	padding-left: 3px;
    /*
    1. #EDEFE0
    2. #EFECE0
    3. #FFFBF0
    4. #FFFBF0
    5. #EFEFEF
    */
    color: black;	
	}
	.col_1{
		text-align: center;
	}
	.col_2{
		text-align: right;

	}
	.col_left{
		text-align: left;
	}
	.login_box_input{
	  width: 100px;
	}
.table_control_normal_style{
 		color: #337ACF;
		text-decoration: none;
		font-weight: bolder;
 }
 
 .tooltips_span_style{
	 white-space:nowrap;
	 color: black;
	 text-decoration:none;
 
 } 
 .tooltips_style{
	   border-width:2px;
	   padding:10px;
	   background-color: #FFFFFF;
	    text-decoration:none;
 }
 .table_column_style{
 	color: black;
 	text-align: left;
 	background-color: #DFDFDF;
 }
 .container_even_row_style{
	background-color: #EFEFEF;
}
.col_half{
	width: 50%;
	vertical-align: top;
}
.dashboard_report_mentor_header{

	background-color: #DFDFDF;
}
.dashboard_report_mentor_sub_header{
	text-align: left;
	background-color: #DFD5B5;
}
.dashboard_report_row_odd{
	background-color:#F5EFFF;
}
.dashboard_report_row_even{
	background-color: #E4E0EF;
}
.rich-subtable-headercell{
	background-color: #DFDFDF;
}
.registration_header_style{
	text-align: left;
	color: black;
	font-size: small;
}

.title_text{
	text-align: left;
	color: blue;
	font-size: 10 pt;
	font-weight: bolder;
}
.title_text_read{
	text-align: left;
	color: gray;
	font-size: 10 pt;
	font-weight: bolder;
}
.sub_title_text{
	text-align: left;
	color: black;
	font-size: 7 pt;
}
.col_1_msg_reply{

	vertical-align: top;
	text-align: right;
	padding-right: 5px;
}
.col_2_msg_reply{

	vertical-align: top;
	text-align: left;
}
.msg_all{
	font-size: 1em;
	font-weight: bold;
	background-color: #DFDFDF;
}
.hight_lighted_menu{
	font-weight: bolder;
}
.dashboard_center_header{
	margin-right: 220px;
}

#container {

}
#left {
	margin-left:-219px;/* must be 1 pixel less than width*/
	float:left;
	width:220px;/* must be same as left margin on #middle*/
	position:relative;
	left:-2px;/* line up exactly */
	display:inline;/* ie fix*/
}
#right {
	margin-right:-229px;/* must be 1 pixel less than width*/
	float:right;
	width:230px;/* must be same as right margin on #middle*/
	position:relative;
	right:0px;/* line up */
	display:inline;/* ie fix*/
}
* html #left{margin-right:-3px;}/* 3 pixel jog*/
* html #right{margin-left:-3px;}/* 3 pixel jog*/

#middle {
	border-left:0px solid red;
	border-right:0px solid red;
	margin-left:220px;
	margin-right:230px;
}
.clearer{
	height:1px;
	overflow:hidden;	
	margin-top:-1px;
	clear:both;
}