<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/applicationContext.xml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.REFRESH_PERIOD</param-name>
  <param-value>2</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>com.sun.faces.validateXml</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>com.sun.faces.verifyObjects</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.SKIN</param-name>
  <param-value>myc2i</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
  <param-value>com.sun.facelets.FaceletViewHandler</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.COMPRESS_STYLE</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>org.ajax4jsf.xmlparser.ORDER</param-name>
  <param-value>NONE, NEKO, TIDY</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.CONTROL_SKINNING</param-name>
  <param-value>enable</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.LoadStyleStrategy</param-name>
  <param-value>ALL</param-value>
 </context-param>
 <context-param>
  <param-name>org.richfaces.LoadScriptStrategy</param-name>
  <param-value>ALL</param-value>
 </context-param>
 <context-param>
  <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
  <param-value>ApplicationResources</param-value>
 </context-param>
 <!-- Fallback locale if no bundles found for browser's preferred locale 
		Force a single locale using param-name 'javax.servlet.jsp.jstl.fmt.locale' -->
 <context-param>
  <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
  <param-value>en</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.LIBRARIES</param-name>
  <param-value>/WEB-INF/facelets/tags/rowToolBar/taglib.xml;
      /WEB-INF/facelets/tags/component/cmptaglib.xml;</param-value>
 </context-param>
 <filter>
  <display-name>Ajax4jsf Filter</display-name>
  <filter-name>ajax4jsf</filter-name>
  <filter-class>org.ajax4jsf.Filter</filter-class>
  <init-param>
   <param-name>createTempFiles</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <param-name>maxRequestSize</param-name>
   <param-value>999999999</param-value>
  </init-param>
 </filter>
 <filter>
  <filter-name>JPA Filter</filter-name>
  <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
 </filter>
 <filter>
  <display-name>MyC2i Security Filter</display-name>
  <filter-name>pageFilter</filter-name>
  <filter-class>com.intrigueit.myc2i.common.filter.SecurityCheckFilter</filter-class>
 </filter>
 <filter>
  <display-name>MyC2i Security Filter</display-name>
  <filter-name>privilegeFilter</filter-name>
  <filter-class>com.intrigueit.myc2i.common.filter.UserPrivilegeCheckFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>ajax4jsf</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>JPA Filter</filter-name>
  <url-pattern>*.faces</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>pageFilter</filter-name>
  <url-pattern>/pages/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>privilegeFilter</filter-name>
  <url-pattern>/test/</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>com.intrigueit.myc2i.utility.ContextProvider</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <listener>
  <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.faces</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>60</session-timeout>
 </session-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 
  <servlet>
  <servlet-name>fileDownloader</servlet-name>
  <servlet-class>com.intrigueit.myc2i.message.view.ExportServlet</servlet-class>
 </servlet>
   <servlet-mapping>
  <servlet-name>fileDownloader</servlet-name>
  <url-pattern>/export/*</url-pattern>
 </servlet-mapping>
 
  <servlet>
    <description>PayPal IPN Listener</description>
    <display-name>PayPalTxnListener</display-name>
    <servlet-name>PayPalTxnListener</servlet-name>
    <servlet-class>com.intrigueit.myc2i.payment.PayPalTxnListener</servlet-class>
    <init-param>
      <param-name>TMP_FILE</param-name>
      <param-value>C:\\tmp\\data.tmp</param-value>
    </init-param>   
    <init-param>
      <param-name>TMP_PATH</param-name>
      <param-value>C:\\tmp\\</param-value>
    </init-param>  
  </servlet>
  <servlet-mapping>
    <servlet-name>PayPalTxnListener</servlet-name>
    <url-pattern>/PayPalTxnListener</url-pattern>
  </servlet-mapping> 
  
    <servlet>
    <description>PayPal to Member Dash board Navigator</description>
    <display-name>PayPalNavigator</display-name>
    <servlet-name>PayPalNavigator</servlet-name>
    <servlet-class>com.intrigueit.myc2i.payment.PayPalNavigator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayPalNavigator</servlet-name>
    <url-pattern>/PayPalNavigator</url-pattern>
  </servlet-mapping>
  
</web-app>
