<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="file"
		class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="100KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="./logs/myc2i.log" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p:[%d{ISO8601}]  %c (%F:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
  		<layout class="org.apache.log4j.PatternLayout">
    		     <param name="ConversionPattern" 
                              value="%-5p:[%d{ISO8601}]  %c (%F:%L) - %m%n"/>
  		</layout>

  	</appender>
  
	<appender name="debugfile"
		class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="500000KB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="/usr/java/tomcat6.0/logs/agent_debug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p:[%d{ISO8601}]  %c (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="debug" />
		</filter>
	</appender>

	<logger name="com.intrigueit.myc2i">
  		<level value="debug"/>
  		 <!-- 
  		 <appender-ref ref="debugfile" />
  		 	-->
  	  <appender-ref ref="stdout" /> 
  		 
		
	</logger>

	<root>
	<priority value="fatal"></priority>
	<!--  <appender-ref ref="file" />
	 -->

	</root> 

</log4j:configuration>